body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	min-width: 960px;
	background: #111 url("../img/bg.jpg") no-repeat center top;
}
.inner-page{
	background: #f9f6f3 url("../img/price-bg.png") repeat;
	color: #000;
}
.inner-content{
	margin-bottom: 75px;
}
.inner-content h2{
	margin-top: 60px;
	margin-bottom: 30px;
}
.inner-content p{
	margin: 14px 0;
}
.inner-content table{
	border-collapse: collapse;
}
.inner-content td{
	border: 2px solid black;
	padding: 10px 15px;
}
.big-heading{
	margin-top: 55px;
	margin-bottom: 70px;
	text-align: center;
	
}
.big-heading h2{
	position: relative;
	display: inline;
	margin: 0;
	padding: 0 25px;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	z-index: 2;
	background: red;
	background: #f9f6f3 url("../img/price-bg.png") repeat;
	
}
.big-heading:after{
	content: "";
	position: relative;
	top: -25px;
	z-index: 1;
	display: block;
	border-bottom: 2px solid black;
}
.custom-list-1{
	margin: 14px 0;
	padding: 0;
	list-style: none;
}
.custom-list-1 li{
	position: relative;
	margin-bottom: 15px;
	padding-left: 20px;
}
.custom-list-1 li:before{
	content: "";
	position: absolute;
	top: 8px;
	left: 0;
	width: 8px;
	height: 8px;
	background: black;
	transform: rotate(45deg);
}
.prices-table{
	width: 100%;
}
.prices-table td{
	width: 50%;
}
.prices-table td:last-child{
	text-align: center;
}
.inner-content-columns{
	margin: 60px 0;
}
.inner-content-column-left,
.inner-content-column-right{
	width: 460px;
}
.inner-content-column-left{
	float: left;
}
.inner-content-column-right{
	float: right;
}
.inner-content-column-left *:first-child,
.inner-content-column-right *:first-child{
	margin-top: 0;
}
.inner-content-column-left *:last-child,
.inner-content-column-right *:last-child{
	margin-bottom: 0;
}
.short-text{
	padding-right: 80px;
}

.main-header{
	background: #000;
	margin-bottom: 60px;
	color: #fff;
	
}
.inner-page-title{
	margin-bottom: 55px;
}
.inner-page .main-header{
	margin-bottom: 55px;
}
.inner-page-title h1{
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-size: 30px;
	line-height: 42px;
}
.breadcrumbs{
	margin: 0;
	padding: 0;
	list-style: none;
}
.breadcrumbs li{
	display: inline;
	padding-right: 40px;
	position: relative;
}
.breadcrumbs li:after{
	content: "";
	position: absolute;
	top: 5px;
	right: 15px;
	width: 8px;
	height: 8px;
	background: #000;
	transform: rotate(45deg);
}
.breadcrumbs a{
	text-decoration: none;
	color: #000;
}
.breadcrumbs a:hover{
	text-decoration: underline;
}
.breadcrumbs .current{
	color: #aba9a7;
}
.breadcrumbs .current:after{
	display: none;
}
.container{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.main-navigation{

	float: left;
	width: 780px;
}
.user-block{
	float: right;
	max-width: 140px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
	
}
.main-navigation ul{
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.main-navigation li{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
}
.main-navigation a{
	display: block;
	padding: 25px 20px;
	text-decoration: none;
	color: #fff;
}
.main-navigation a:hover{
	background: #242424;
}
.main-navigation .active a{
	position: relative;
}
.main-navigation .active a:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;
	
	height: 5px;
	background: white;
}
.login{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 25px 20px;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	color: #fff;
	padding-left: 50px;
}
.login:before{
	content: "";
	position: absolute;
	
	top: 28px;
	left: 20px;
	width: 18px;
	height: 18px;
	background: url("../img/enter-sprite.png") no-repeat;
}
.login:hover:before{
	content: "";
	position: absolute;
	top: 28px;
	left: 20px;
	content: "";
	width: 18px;
	height: 18px;
	background: url("../img/enter-sprite.png") no-repeat;
	background-position: 0 -102px;
}
.logo{
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.logo img{
	width: 368px;
	height: 204px;
}
.features-row{
	margin-bottom: 80px;
}
.features-item{
	float: left;
	width: 300px;
	margin-right: 20px;
	text-align: center;
}
.features-item:last-child{
	margin-right: 0;
}
.features-title{
	position: relative;
	padding-bottom: 50px;
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 42px;
}
.features-item p{
	margin: 10px;
}
.features-title:after{
	content: "";

	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10px;
	display: block;
	width: 20px;
	height: 20px;
	background: #fff;
	transform: rotate(45deg);
}
.index-content{
	
	background:
	url("../img/shadow-line.png") no-repeat center,
	 #f8f5f2 url("../img/pattern-white.png");
	color: #000;
	padding: 50px 80px;
	margin-bottom: 35px;
}
.content-column-left{
	float: left;
	width: 350px;
}
.content-column-right{
	float: right;
	width: 300px;
}
.news-preview{
	padding: 0;
}
.news-preview li{
	list-style: none;
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 24px;
	
}
.news-preview li:last-child{
	padding-bottom:0;
	margin-bottom: 30px;
}

.content-column-title{
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 35px;

}
.news-preview time{
	font-style: italic;
	text-transform: none;
	font-family: 'Georgia', sans-serif;

}
.btn{
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 35px;
	margin-right: 16px;
	font-weight: 700;
	line-height: 24px;
	background: #000;
	text-decoration: none;
	color: white;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	border: none;
	outline: none;
	cursor: pointer;

	 
}
.btn:hover,
.btn:active{
	background: #663d15;
}
.gallery-content{
	height: 164px;
	margin: 0;
	background: #ccc;
	border: 7px solid white;
}
.gallery-content img{
	width: 286px;
	height: 164px;
	
	
}
.gallery .btn{
	width: 140px;
	margin: 0;
	position: absolute;
	bottom: 0;
}
.btn:disabled{
	cursor: default;
	opacity: .5;
}
.btn:disabled:hover{
	background: #000;
}
.gallery{
	height: 267px;
	position: relative;
}
.gallery-prev{
	left:0;
}
.gallery-next{
	right:0;
}
.index-content p{
	margin: 0;
	margin-bottom: 25px;
}
.appointment-form input{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 106px;
	padding: 10px 15px;
	border: 2px solid #000;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	text-transform: inherit;
	color: #000;
	background: #f9f6f3;
	outline: none;

}
.appointment-form input:focus{
	border: 2px solid #663d15;
}
.appointment-form input:nth-child(2n){
	margin-right: 0;
}
.appointment-form .btn{
	clear: both;
	width: 100%;
}
.main-footer{
	margin-top: 60px;
	padding-top: 60px;
	padding-bottom: 40px;
	background: #232323 url("../img/footer-bg.png");
	color: #fff;
}
.footer-contacts{
	float: left;
	width: 320px;
	margin-right: 80px;
}
.footer-contacts a{
	color: #fff;
}
.footer-social{
	float: left;
	text-align: center;
}

.footer-copyright{
	float: right;
	max-width: 320px;
}
.footer-contacts a:hover{
	text-decoration: none;
}
.footer-social p{
	margin: 0;
	margin-bottom: 15px;
}
.social-btn{
	margin: 0 2px;
	display: inline-block;
	vertical-align: top;
	width: 43px;
	height: 43px;
	font-size: 0;
	text-decoration: none;
	background: #000 url("../img/social-sprite.png")
}
.social-btn-vk{
	background-position: 0 0;
}
.social-btn-fb{
	background-position: -43px 0;
}
.social-btn-inst{
	background-position: -86px 0;
}
.social-btn-vk:hover{
	background-position: 0 -43px;
}
.social-btn-fb:hover{
	background-position: -43px -43px;
}
.social-btn-inst:hover{
	background-position: -86px -43px;
}
.footer-copyright p{
	margin: 0;
	margin-bottom: 15px;
	text-align: center;
}